<DOCTYPE html>
<html lang="en">
	<head>
          <meta charset="UTF-8">
	   <meta http-equiv="X-UA-Compatible" content="IE=edge">
	   <meta name="viewport" content="width=device-width, initial-scale=1">
	   <title>Xiaohuicloud</title>
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		    
		        <form action="" enctype='multipart/form-data' method='POST'>
			        <input  class="btn btn-default"    type="file" name="file">
				        <input   class="btn btn-default"  type="submit" value="上传">
				   </form>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
				   </body>
</html>

